<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Splat World</title>

  <link rel="shortcut icon" href="/assets/img/bubbles.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bubbles.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Data Entry</a></div>
    <div class="navlink"><a href="/reset">Minio Testing</a></div>
  </nav>
  <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <h3>Retrieving Server Data</h3>
    <h4>Get a User with Username <b>OR</b> ID</h4>
    <form name="get user" method="get" id="get-user" action="/get-user">
      <span><label for="username">Username (Case sensitive): </label><input type="text" name="username" id="username"></span>
      <br>
      <span><label for="uid">ID: </label><input type="text" name="uid" id="uid"></span>
      <br>
      <input type="submit" value="Get User">
    </form>

    <h4>Get a Crew with Crew Name</h4>
    <form name="get crew" method="get" id="get-crew" action="/get-crew">
      <span><label for="crew-name">Crew Name (Case sensitive): </label><input type="text" name="crew-name" id="crew-name"></span>
      <br>
      <input type="submit" value="Get Crew">
    </form>

    <h4>Get one Tag with ID <b>OR</b> Title</h4>
    <form name="get tag" method="get" id="get-tag" action="/tag">
      <span><label for="tid">ID: </label><input type="text" name="tid" id="tid"></span>
      <br>
      <span><label for="title">Title: </label><input type="text" name="title" id="title"></span>
      <br>
      <input type="submit" value="Get Tag">
    </form>

    <h4>Get all of a User's Tags with User ID <b>OR</b> Crew ID</h4>
    <form action="/tags" method="get" name="get tags" id="get-tags">
      <span><label for="tags-uid">User ID: </label><input type="text" name="uid" id="tags-uid"></span>
      <br>
      <span><label for="tags-cid">Crew ID: </label><input type="text" name="tags-cid" id="tags-cid"></span>
      <br>
      {{!-- <span><label for="username">Username: </label><input type="text" name="username" id="username"></span> --}}
      <input type="submit" value="Get Tags">
    </form>

    <h4>Log in a User</h4>
    <form name="login" method="post" action="/login" id="login">
      <span><label for="login-username">Username: </label><input type="text" name="login-username" id="login-username"></span>
      <br>
      <span><label for="login-password">Password: </label><input type="password" name="login-password" id="login-password"></span>
      <br>
      <input type="submit" value="Login">
    </form>

    <h4>Add a Tag to Saved Tags with ID <b>OR</b> Title</h4>
    <form name="save tag" method="post" id="save-tag" action="/save-tag">
      <span><label for="save-tag-id">Tag ID: </label><input type="text" name="save-tid" id="save-tid"></span>
      <br>
      <span><label for="save-title">Tag title: </label><input type="text" name="save-title" id="save-title"></span>
      <br>
      <input type="submit" value="Save Tag">
    </form>

    <section id="res-tag" class="hidden">
      <h4>Get Tag Result</h4>
      <span><p>Title: <span id="res-title"></span></p></span>
      <span><p>Crew ID: <span id="res-crewref"></span></p></span>
      <span><p>Author ID: <span id="res-authorref"></span></p></span>
      <span><p>Active: <span id="res-active"></span></p></span>
    </section>
    <section id="res-user" class="hidden">
      <h4>Get User Result</h4>
      <span><p>Username: <span id="res-username"></span></p></span>
      <span><p>Join Date: <span id="res-join_date"></span></p></span>
    </section>
    <section id="res-crew" class="hidden">
      <h4>Get Crew Result</h4>
      <span><p>Name: <span id="res-crewname"></span></p></span>
      <span><p>Join Code: <span id="res-joincode"></span></p></span>
      <span><p>Owner: <span id="res-owner"></span></p></span>
    </section>
    <section id="result" class="hidden">
      <h4>Result</h4>
      <p id="output"></p>
    </section>
  </main>
  
  
  <script src="/assets/appBundle.js"></script>
</body>
</html>
