<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Bubbles</title>

  <link rel="shortcut icon" href="/assets/img/bubbles.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bubbles.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <h3>Retrieving Server Data</h3>
    <h4>Get a User with Username <b>OR</b> ID</h4>
    <form name="get user" method="get" id="get-user-form" action="/get-user">
      <span><label for="username">Username (Case sensitive): </label><input type="text" name="username" id="username"></span>
      <br>
      <span><label for="uid">ID: </label><input type="text" name="uid" id="uid"></span>
      <br>
      <input type="submit" value="Get User">
    </form>

    <h4>Get a Crew with Crew Name</h4>
    <form name="get crew" method="get" id="get-crew-form" action="/get-crew">
      <span><label for="crew-name">Crew Name (Case sensitive): </label><input type="text" name="crew-name" id="crew-name"></span>
      <br>
      <input type="submit" value="Get Crew">
    </form>

    <h4>Get one Tag with ID <b>OR</b> Title</h4>
    <form name="get tag" method="get" id="get-tag" action="/tag">
      <span><label for="tid">ID: </label><input type="text" name="tid" id="tid"></span>
      <br>
      <span><label for="title">Title: </label><input type="text" name="title" id="title"></span>
      <br>
      <input type="submit" value="Get Tag">
    </form>

    <h4>Get all of a User's Tags with Username <b>OR</b> ID</h4>
    <form action="/tags" method="get" name="get tags" id="get-tags">
      <span><label for="uid">User ID: </label><input type="text" name="uid" id="uid"></span>
      <br>
      <span><label for="username">Username: </label><input type="text" name="username" id="username"></span>
      <br>
      <input type="submit" value="Get Tags">
    </form>



    <section id="result">
    {{!-- Single Tag --}}
    {{#if tag}}
      <span><p>Title: {{tag.title}}</p></span>
      <span><p>Crew ID: {{tag.crew_ref}}</p></span>
      <span><p>Author ID: {{tag.author_ref}}</p></span>
      <span><p>Active: {{tag.active}}</p></span>
    {{/if}}
    </section>
  </main>
  
  <script src="/assets/appBundle.js"></script>
</body>
</html>
