<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Bubbles</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/jellee-typeface" type="text/css" crossorigin="anonymous"/> 
  <link rel="shortcut icon" href="/assets/img/bubbles.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/bubbles.png" alt="face logo"/></a>
    <div class="navlink"><a id="joinButton" href="/join-bubble">Join Bubble</a></div>
    <div class="navlink"><a id="createButton" href="/create-bubble">Create Bubble</a></div>
    <div class="navlink"><a href="/app">App</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" id="changePass"><a href="/changePassword">Change Password</a></div>
    <div class="navlink"><a href="/docs" id="docs">Documentation</a></div>
  </nav>
  <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <section id="content">

    </section>
  </main>

  
  <script src="/assets/buyBundle.js"></script>
</body>
</html>
