<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Bubbles Documentation</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/jellee-typeface" type="text/css" crossorigin="anonymous"/> 
  <link rel="shortcut icon" href="/assets/img/bubbles.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
    {{!-- display a diff navbar depending on whether or not the user is logged in --}}
  <nav><a href="/login"><img id="logo" src="/assets/img/bubbles.png" alt="face logo"/></a>
    <div class="navlink"><a id="joinButton" href="/join-bubble">Join Bubble</a></div>
    <div class="navlink"><a id="createButton" href="/create-bubble">Create Bubble</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/app">App</a></div>
    <div class="navlink"><a href="/buy-premium" id="buyPremium">Buy Premium</a></div>
  </nav>
 <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <section id="content">
        <h2>TO DO:</h2>
        <ol>
            <li>custom 404 page</li>
            <li>allow status deletion</li>
            <li>DB: Status: add array of bubble ids to status that it is posted in</li>
            <li>allow bubble deletion</li>
            <li>serve a different Documentation page based on whether or not the user is loaded in (change the navbar)</li>
        </ol>
        <h3>Done: </h3>
        <ul>
          <li>05/02: Fix promise resolution on /get-bubbles to be in order, rather than random</li>
          <li>05/02: Inform user of the regex applied to their username</li>
        </ul>
    </section>
 </main>
</body>
</html>
