<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Splat World</title>

  <link rel="shortcut icon" href="/assets/img/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
   <nav>
    <a href="/login"><img id="logo" src="/assets/img/icon.png" alt="logo"/></a>
    <div class="navlink"><a href="/home">Retrieval</a></div>
    <div class="navlink"><a href="/reset">Minio Testing</a></div>
  </nav>

  <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <h3>Server Admin Data Registration</h3>

    <section id="content">
      <h4>Add user to DB</h4>
      <form name="add user" action="/add-user" method="post" id="add-user-form">
         <span><label htmlFor="username">Username: </label>
         <input type="text" name="user" id="username" placeholder="user"></span>
         <br>
         <span><label htmlFor="pass">Password: </label><input type="pass" name="pass" id="pass"></span>
         <br>
         <input className="formSubmit" type="submit" value="Create New User" id="add-user-button">
      </form>
      <br><br>
      <h4>Add crew to DB</h4>
      <form name="add crew" action="/add-crew" method="post" id="add-crew-form">
        <span><label htmlFor="crewname">Crew Name: </label><input type="text" name="crewname" id="crewname" class="crewname"></span>
        <br>
        <span><label htmlFor="crewpass">Crew Password:</label><input type="password" name="crewpass" id="crewpass"></span>
        <br>
        <span><label htmlFor="color">Color (You can change this later): </label><input type="color" name="color" id="color"></span>
        <br>
        <span><label htmlFor="owner">Owner's User ID: </label><input type="text" name="owner" id="owner"></span>
        <br>
        <input className="formSubmit" type="submit" value="Create New Crew" id="add-crew-button">
      </form>
      <br><br>
      <h4>Add tag</h4>
      <form name="add tag" action="/add-tag" method="post" id="add-tag-form">
        <span><label for="title">Title: </label><input type="text" name="title" id="title"></span>
        <br>
        <span><label htmlFor="userid">User Id: </label><input type="text" name="userid" id="userid" ></span>
        <br>
        <span><label htmlFor="crewid">Crew Id:</label><input type="text" name="crewid" id="crewid" ></span>
        <br>

        <input className="formSubmit" type="submit" value="Create New Tag" id="add-tag-btn">
      </form>
      <br><br>
      <h4>Flag Tag</h4>
      <form name="flag tag" action="/flag-tag" method="post" id="flag-tag-form">
        <span><label for="tagid">Tag Id: </label><input type="text" name="tagid" id="tagid"></span>
        <br>
        <span><label for="userid">User Id: </label><input type="text" name="userid" id="userid"></span>
        <br>
        <input type="submit" className="formSubmit" id="flag-tag-btn" value="Flag Tag">
      </form>
      <br><br>
      <h4>Add Tag Location</h4>
      <form name="add location" action="/add-location" method="post" id="add-location-form">
        <span><label for="tagid">Tag Id: </label><input type="text" name="tagid" id="tagid"></span>
        <br>
        <span><label for="latitude">Latitude: </label><input type="text" placeholder="43.0856" name="latitude" id="latitude"></span>
        <br>
        <span><label for="longitude">Longitude: </label><input type="text" placeholder="-77.6763" name="longitude" id="longitude"></span>
        <br>
        <input type="submit" value="Add Tag Location" className="formSubmit">
      </form>
    </section>
  </main>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
