<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Bubbles</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/jellee-typeface" type="text/css" crossorigin="anonymous"/> 
  <link rel="shortcut icon" href="/assets/img/bubbles.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <div class="navlink"><a href="/app">Data Entry</a></div>
    <div class="navlink" ><a href="/login">Retrieval</a></div>
  </nav>
 <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <section id="content">

    </section>
    <section class="output">
      
    </section>
 </main>

  
  <script src="/assets/resetBundle.js"></script>
</body>
</html>
