<html lang="en">
<head>
  {{!-- Author: Moss Limpert --}}
  <meta charset="utf-8"/>
  <title>Splat World</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/jellee-typeface" type="text/css" crossorigin="anonymous"/> 
  <link rel="shortcut icon" href="/assets/img/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/icon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/home">Data Entry</a></div>
    <div class="navlink"><a href="/login">Retrieval</a></div>
  </nav>
 <main>
    <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    </div>
    <section id="content">
      <form action="/user-pfp" method="post" class="image-upload" enctype='multipart/form-data'>
        <h2>Upload User Profile Picture</h2>
        <label for="pfpname">Profile picture name</label>
        <input type="text" name="pfpname" id="pfpname">
        <br>
        <label for="image">Upload profile picture</label>
        <input type="file" name="image" id="image">
        <br>
        <input type="submit" value="Upload Profile Pic">
      </form>

      <form action="/user-pfp" method="get" class="image-download">
        <h2>Download User Profile Picture</h2>
        <label for="download-name">Profile picture name</label>
        <input type="text" name="download-name" id="download-name">
        <br>
        <input type="submit" value="Download Profile Pic">
      </form>
    </section>

    <section id="output" class="hidden">
      <p></p>
      <img src="/assets/img/testDownload.png" alt="user's pfp" id="pfp-download">
    </section>
 </main>

  
  <script src="/assets/resetBundle.js"></script>
</body>
</html>
